#############################################################################
#   
#  Python requirements for Sphinx documentation
#
#  This file is part of XAD, a fast and comprehensive C++ library for
#  automatic differentiation.
#
#  Copyright (C) 2010-2022 Xcelerit Computing Ltd.
#
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU Affero General Public License as published
#  by the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU Affero General Public License for more details.
#
#  You should have received a copy of the GNU Affero General Public License
#  along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   
##############################################################################

sphinx ~= 5.1.0
pyenchant ~= 3.2.2
sphinx-autobuild == 2021.3.14
cloud_sptheme ~= 1.10.1
doc8 >= 0.11.2
jinja2 == 3.0.0
sphinx-immaterial[clang-format] ~= 0.8.1