name: Post Benchmark Results

on:
  workflow_run:
    workflows: ["Benchmarks"]
    types:
      - completed

jobs:
  comment:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Get Artifact IDs
        id: artifacts
        uses: actions/github-script@v8
        with:
          script: |
            const run_id = ${{ github.event.workflow_run.id }};
            const artifacts = await github.rest.actions.listWorkflowRunArtifacts({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id
            });

            const result = {};
            for (const artifact of artifacts.data.artifacts) {
              result[artifact.name] = artifact.id;
            }

            return result;
      - name: Download and unzip benchmark results
        run: |
          ARTIFACT_ID=$(echo '${{ steps.artifacts.outputs.result }}' | jq -r '.["benchmark-results"]')
          curl -sL \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/${{ github.repository }}/actions/artifacts/$ARTIFACT_ID/zip \
            -o benchmark-results.zip
          unzip -o benchmark-results.zip -d benchmark-results
      - name: Download and unzip PR number
        run: |
          ARTIFACT_ID=$(echo '${{ steps.artifacts.outputs.result }}' | jq -r '.["pr-number"]')
          curl -sL \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/${{ github.repository }}/actions/artifacts/$ARTIFACT_ID/zip \
            -o pr-number.zip
          unzip -o pr-number.zip -d pr-number
      - name: Read PR number
        id: pr
        run: |
          PR=$(cat pr-number/pr_number.txt)
          echo "number=$PR" >> $GITHUB_OUTPUT
      - name: Post Benchmark Comment
        uses: peter-evans/create-or-update-comment@v5
        with:
          issue-number: ${{ steps.pr.outputs.number }}
          body-path: benchmark-results/benchmark_results.md
          edit-mode: replace
