name: Benchmarks
on:
  pull_request:
    types: [opened, reopened, synchronize, labeled, unlabeled]
env:
  BENCHMARKS: 'Hessian Jacobian'

jobs:
  benchmark:
    name: Benchmark
    runs-on: ubuntu-latest
    container: 
      image: ghcr.io/foonathan/gcc:12
    steps:
      - name: Hardware characteristics
        run: |
          echo "----------------- CPU ----------------"
          lscpu
          echo "------------------ Mem ---------------"
          lsmem
      - name: Checkout PR Branch
        uses: actions/checkout@v4
        with:
          path: xad
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: benchmark
      - name: Install gh and jq
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          apt-get update && apt-get install -y curl jq
          curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg && \
          chmod go+r /usr/share/keyrings/githubcli-archive-keyring.gpg && \
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" > /etc/apt/sources.list.d/github-cli.list && \
          apt-get update && apt-get install -y gh
      - name: Configure PR Branch
        run: |
          mkdir xad/build
          cd xad/build
          cmake .. -GNinja \
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_CXX_COMPILER=g++ \
            -DXAD_NO_THREADLOCAL=ON \
            -DXAD_SIMD_OPTION=AVX2 \
            -DXAD_USE_STRONG_INLINE=ON          
      - name: Build PR Branch
        run: |
          cd xad/build
          cmake --build .
      - name: Checkout Main
        uses: actions/checkout@v4
        with:
          ref: main
          repository: raneamri/xad # auto-differentiation/xad (origin doesn't have scripts yet)
          path: main
      - name: Configure Main Branch
        run: |
          mkdir main/build
          cd main/build
          cmake .. -GNinja \
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_CXX_COMPILER=g++ \
            -DXAD_NO_THREADLOCAL=ON \
            -DXAD_SIMD_OPTION=AVX2 \
            -DXAD_USE_STRONG_INLINE=ON          
      - name: Build Main Branch
        run: |
          cd main/build
          cmake --build .
      - name: Run Reference
        run: |
          cd ./main
          chmod +x ./scripts/benchmark.sh
          ./scripts/benchmark.sh reference false $BENCHMARKS
      - name: Run Benchmark
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          cd ./xad
          chmod +x ./scripts/benchmark.sh
          ./scripts/benchmark.sh benchmark false $BENCHMARKS
      - name: Save PR Number
        if: ${{ github.event_name == 'pull_request' }}
        run: echo "${{ github.event.pull_request.number }}" > pr_number.txt    
      - name: Upload PR Number
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/upload-artifact@v4
        with:
          name: pr-number
          path: pr_number.txt
      - name: Upload Benchmark Results
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/upload-artifact@v4
        with:
          name: benchmark-results
          path: /__w/xad/xad/xad/build/benchmarks/benchmark_results.md